<nav class="navbar navbar-toggleable-md navbar-inverse bg-inverse fixed-top">

  <a class="navbar-brand" href="#">Crud App</a>

  <div class="collapse navbar-collapse" id="navbarsExampleDefault">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" href="#">Ana Sayfa <span class="sr-only">(current)</span></a>
      </li>

    </ul>
    <div class="form-inline my-2 my-lg-0">

      <button class="btn btn-outline-success my-2 my-sm-0" (click)="open(content)">
        <span class="fa fa-plus"></span>
        Kullanici Ekle</button>
    </div>
  </div>
</nav>



<ng-template #content let-c="close" let-d="dismiss">
  <div class="modal-header">
    <h4 class="modal-title">Kullanici Formu</h4>
    <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
   <app-user-form></app-user-form>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-secondary" (click)="c('Close click')">Close</button>
  </div>
</ng-template>
