
  <td>{{index+1}}</td>
  <td >{{user._id |slice:0:5}}</td>
  <td [class.btn-outline-success]="user.new">{{user.name}}</td>

  <td>

  <span class="fa" [ngClass]="{'fa-check-circle-o':user.active , 'fa-pause':!user.active}"></span>
    {{user.active |aktifmi}}
  </td>
  <td>{{user.role}}</td>
  <td>
    <a [routerLink]="['details',user._id]" class="btn btn-sm btn-outline-primary">
      <span class="fa fa-edit"></span>
      </a>

    <button (click)="deleteUser()" class="btn btn-sm btn-outline-danger">
      <span class="fa fa-trash"></span>
      Sil</button>

    <button (click)="setUser()" class="btn btn-sm btn-outline-info" >
      <span class="fa fa-search"></span>
      Detay</button>
  </td>
